h1 {
   color: #000000d6;
   border-bottom: none;
   font-size: 3.5em;
   text-align: center;
   margin-top: 2em;
   line-height: 1.2;
}

h2 {
   font-size: 1.8em;
   font-weight: 600;
   margin-bottom: 1em;
}

p {
   font-size: 1.2em;
   line-height: 1.5;
   margin-bottom: 1em;
}

main {
   display: flex;
   flex-direction: column;
   align-items: center;
}

main button {
   padding: 0.8em 1.5em;
   font-size: 1.1em;
   margin-bottom: 4em;
}

.about-images {
   display: flex;
   justify-content: space-between;
   gap: 2rem;
   margin: 3rem 0;
}

section img {
   margin: auto 0;
   width: 48%;
   height: 100%;
   object-fit: cover;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

article {
   width: 80%;
   margin: 0 auto;
}

article p {
   font-size: 1.2em;
   line-height: 1.5;
   margin: 1em 0;
}