.products-grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   gap: 2.5em;
   padding: 0 1rem;
}

.product {
   display: flex;
   flex-direction: column;
   height: 100%;
   border-radius: 10px;
   padding: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s ease;
}

.product:hover {
   transform: translateY(-5px);
}

img {
   object-fit: cover;
   height: auto;
   margin-bottom: 15px;
}

.product-details {
   margin-top: auto;
   padding: 1em;
   font-size: 1.3em;
   border-top: 1px solid #ccc;
}

p {
   margin: 0.3em 0;
}

form input[type="submit"] {
   background: #426B1F;
   color: #fff;
   font-size: 0.7em;
   border: none;
   height: 2.7em;
   margin-top: 1em;
   padding: 10px 20px;
   border-radius: 5px;
   cursor: pointer;
   width: 100%;
}

form input[type="submit"]:hover {
   background: #2F4E15;
}