main {
   max-width: 800px;
}

.basket-page {
   background-color: #f9f9f9;
   padding: 30px;
   border-radius: 10px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.basket-page h1 {
   color: #426B1F;
   font-size: 2.5em;
   margin-bottom: 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.basket-page h1 span {
   font-size: 0.6em;
   background-color: #426B1F;
   color: white;
   padding: 5px 10px;
   border-radius: 20px;
}

.basket-item {
   background-color: white;
   border-radius: 8px;
   padding: 20px;
   margin-bottom: 20px;
   display: flex;
   align-items: center;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.basket-item img {
   width: 100px;
   height: 100px;
   object-fit: cover;
   border-radius: 8px;
   margin-right: 20px;
}

.item-details {
   flex-grow: 1;
}

.item-name {
   font-size: 1.2em;
   font-weight: bold;
   color: #426B1F;
   margin-bottom: 5px;
}

.price {
   font-weight: bold;
   color: #426B1F;
}

.item-quantity {
   width: 60px;
   padding: 5px;
   margin-right: 10px;
}

form {
   margin-top: 10px;
}

input[type="submit"] {
   padding: 8px 12px;
}


input[type="submit"][name="remove"] {
   background-color: #d9534f;
}

input[type="submit"][name="remove"]:hover {
   background-color: #c9302c;
}

.order-summary {
   background-color: white;
   border-radius: 8px;
   padding: 20px;
   margin-top: 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.summary-details p {
   margin: 5px 0;
}

.summary-details p:last-child {
   font-weight: bold;
   font-size: 1.2em;
   color: #426B1F;
}

.order-summary button {
   background-color: #426B1F;
   color: white;
   border: none;
   padding: 12px 20px;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
   font-size: 1em;
}

.order-summary button:hover {
   background-color: #2F4E15;
}