main {
   width: 50%;
   background-color: #f9f9f9;
   padding: 30px;
   border-radius: 10px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

main ul {
   display: flex;
   justify-content: center;
   margin-bottom: 30px;
}

main ul li {
   margin: 0 15px;
}

main ul li a {
   color: #426B1F;
   font-weight: bold;
   transition: color 0.3s ease;
}

main ul li a:hover {
   color: #2F4E15;
}

h1 {
   text-align: center;
   color: #426B1F;
   font-size: 2.5em;
   margin-bottom: 30px;
}

form {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 30px;
}

label {
   margin-top: 1.5em;
   display: flex;
   flex-direction: column;
   gap: 5px;
   font-weight: bold;
}

input[type="password"] {
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 1em;
   width: 250px;
}

.error {
   text-align: center;
   color: red;
   margin: 10px auto 0;
}

input[type="submit"] {
   margin-top: 20px;
}