.login-register-form {
   margin: 0 auto;
   width: 50%;
   background-color: #FAFAF5;
   padding: 40px 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-register-form label {
   font-size: 1.2em;
   font-weight: bold;
   color: #426B1F;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 15px;
}

.login-register-form label input {
   width: 60%;
   padding: 10px;
   border: 1px solid #86af629b;
   border-radius: 5px;
   box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.submit-button {
   margin: 20px auto 0;
}